@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EventBrite</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendoCss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendoUiCore")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div id="header">
        @{ var url = Url.Action("Index", "Event"); }
        <a href="@url"><img src="~/Images/EventBrite.jpg" /></a>
        <ul id="navlist">
            <li>
                @Html.ActionLink("Find An Event", "Index", "Event")
            </li>
            <li>
                <a href="/Store/Browse">Organize an Event</a>
            </li>
            @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        }
    }
    else
    {
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

}
        </ul>
    </div>
    <div class="container body-content">    
        <div id="bodyWrap">
        @RenderBody()
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
