@model FinalProject.Models.Event
@{
    ViewBag.Title = "Event Details";
}

<h2>Event Details</h2>

<div id="eventDetails">
    <div class="detailRow"><div class="detailLabel">@Html.DisplayNameFor(model => model.EventType.Name):</div> @Model.EventType.Name</div>
    <div class="detailRow"><div class="detailLabel">@Html.DisplayName("Organizer Full Name"):</div> @Model.Organizer.FullName</div>
    <div class="detailRow"><div class="detailLabel">@Html.DisplayNameFor(model => model.Title):</div> @Model.Title</div>
    <div class="detailRow"><div class="detailLabel">@Html.DisplayNameFor(model => model.Description):</div> @Model.Description</div>
    <div class="detailRow"><div class="detailLabel">@Html.DisplayNameFor(model => model.StartDate):</div> @Model.StartDate.ToString("d")</div>
    <div class="detailRow"><div class="detailLabel">@Html.DisplayNameFor(model => model.StartTime):</div> @Model.StartTime.ToString("t")</div>
    <div class="detailRow"><div class="detailLabel">@Html.DisplayNameFor(model => model.EndDate):</div> @Model.EndDate.ToString("d")</div>
    <div class="detailRow"><div class="detailLabel">@Html.DisplayNameFor(model => model.EndTime):</div> @Model.EndTime.ToString("t")</div>
    <div class="detailRow"><div class="detailLabel">@Html.DisplayNameFor(model => model.Location):</div> @Model.Location</div>
</div>
<div id="registerControls">
    <div id="registerWindow">
        Sale ends on @Model.StartDate.ToString("M")
        <div id="ticketDetails">
            <div id="ticketInfo">
                @Model.Title
                <br />
                Free
            </div>
            <div id="ticketCount">
                <input id="ticketCountList" />
            </div>
        </div>
        <button type="button" class="btn btn--brite" id="checkoutButton">Checkout</button>
    </div>

    <button type="button" class="btn btn--brite" id="registerButton">Register</button>

    <script>
        $(document).ready(function () {
            // register controls
            var registerWindow = $("#registerWindow"),
                registerButton = $("#registerButton");

            registerButton.click(function () {
                registerWindow.data("kendoWindow").center().open().element.closest(".k-window").css({
                    top: 225
                });
                registerButton.fadeOut();
            });

            function onClose() {
                registerButton.fadeIn();
            }

            registerWindow.kendoWindow({
                width: "600px",
                title: "Register",
                visible: false,
                actions: [
                    "Close"
                ],
                close: onClose
            });

            // numeric control in popup
            var data = [
                { text: "1", value: "1" },
                { text: "2", value: "2" },
                { text: "3", value: "3" }
            ];

            $("#ticketCountList").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                dataSource: data,
                index: 0
            });

        });
    </script>
</div>
